html, body {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    color: white;
    margin: 0;
}

#secret {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

#title {
    text-align: center;
}

#video {
    max-width: 100%;
}

#dice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dice {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg);
    animation: rotate 5s linear infinite;
    margin-bottom: 10rem;
}
.side {
    width: 100%;
    height: 100%;
    background: #0d6efd;
    border: 2px solid black;
    position: absolute;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side:before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
}
.base {
    width: 100%;
    height: 100%;
    transform: translateY(73px) rotateX(90deg);
    border: 0;
    background: blue;
}
.one {
    transform: translateZ(100px);
}
.two {
    transform: translateX(-100px) rotateY(-90deg);
}
.two:before {
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px;
}
.three {
    transform: translateY(100px) rotateX(90deg);
}
.three:before {
    box-shadow: #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px;
}
.four {
    transform: translateY(-100px) rotateX(90deg);
}
.four:before {
    background: transparent;
    box-shadow: #000 -50px 50px 0px 0px, #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px, #000 50px -50px 0px 0px;
}
.five {
    transform: translateX(100px) rotateY(90deg);
}
.five:before {
    box-shadow: #000 -50px -50px 0px 0px, #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px, #000 50px 50px 0px 0px;
}
.six {
    transform: translateZ(-100px);
}
.six:before {
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 -50px 0px 0px 0px, #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px, #000 50px 0px 0px 0px, #000 50px 50px 0px 0px;
}
